@font-face {
    src:url('../resources/fonts/Austein-Script.woff') format('woff'),
        url('../resources/fonts/Austein.woff2') format('woff2');
    font-family: 'Austein';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), #704214;
    font-family: 'Austein';
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.wrapper #logo{
    display: block;
    text-decoration: none;
    font-size: 5em;
    transition: color 0.5s ease;
    height: min-content;
    width: fit-content;
}

#logo:hover, .menu a:hover, #copyright > a:hover{
    color: rgb(19, 16, 16);
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu a{
    font-family: sans-serif;
    text-decoration: none;
    align-self: center;
    width: fit-content;
    font-size: 1.9em;
    padding: 0 1em;
    transition: color 0.3s ease;
}

.no-select{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Carousel */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container span{
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}

.container #contain{
    font-size: 1em;
    text-decoration: underline;
    font-weight: 700;
}

.slider{
    background: #000116;
    position: relative;
    width: 50%;
    height: 60%;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top:50px ;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
}

.slider .slide .info p{
    font-size: 1.4em;
    font-weight: 400;
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
    background: #4285F4;
}
/* End of carousel*/

/* footer */
.footer-container{
    box-shadow: 5px 0px 15px 0 rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #643c15;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    color: black;
}

#copyright > a{
    color: black;
    transition: color 0.3s ease;
}

.mobile-nav-toggle{
    display: none;
}

/* Media*/
@media(max-width: 1100px){
    .wrapper #logo{
        font-size: 3em;
    }

    .menu a{
        font-size: 1.2em;
        padding: 0 1em;
    }

    .container span{
        font-size: 1.3em;
        font-weight: 600;
    }
    .container span #contain{
        font-size: 0.9em;
        font-weight: 800;
    }

    .slider{
        width: 80%;
    }

    .slider .slide .info{
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 570px){

    .wrapper #logo{
        font-size: 3em;
    }

    .menu a{
        font-size: 1em;
        padding: 0 1rem;
    }

    .container{
        height: 60vh;
        transform: translateY(20%);
    }
    .navigation{
        height: 35vh;
    }
    .container span{
        font-size: 1em;
        font-weight: 1000;
    }
    .slider .slide .info{
        width: 65%;
        height: 25%;
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0 1rem;
    }
    .container span #contain{
        font-size: 0.9em;
    }

    .slider .slide .info h2{
        font-size: 1em;
        line-height: 40px;
    }

    .slider .slide .info p{
        font-size: 0.9em;
    }

    #copyright{
        font-size: 1em;
        font-weight: 400;
    }

    .menu{
        position: fixed;
        inset: 0 0 0 30%;
        background-color: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        justify-content: flex-start;
        padding: min(30vh, 6rem) 2rem;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .menu[data-visible="true"]{
        transform: translateX(0%);
    }

    .menu a{
        font-size: 1.2rem;
        padding: 1em;
        align-self: flex-start;
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url('../resources/icons/hamburger-menu.svg');
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
    }
     
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url('../resources/icons/close.svg');
    }
}
